doctype html 
html(lang='en')
  head 
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700'
        rel='stylesheet')
      

      

      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title Natours | #{title}

  body 

    include _header 

    main.main

      block content 
        

    include _footer

    script(src="https://unpkg.com/axios@1.1.2/dist/axios.min.js")
    //- script(src="/js/mapbox.js") 
    //- script(src="/js/login.js") 
    script(type='module' src="/js/bundle.js") 

    